@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: grid;
  grid-template-areas: "input-data input-data"
                       "input-data input-data";
  margin: 50px 0;
  gap: 20px 90px;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row{
  height: 70px;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}


.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}


.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data .underline:invalid{
  background: red;
}
.input-data input:focus ~ .underline:before{
  transform: scale(1);
}

.input-data input ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.invalid{
  font-size: 11px;
  color: red;
}
.btn {
  width: 100px;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 500;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
}
.btn:hover{
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}



@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.search-container{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 35px;
}

 .search {
  margin-top: 15px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #54b3d6;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  
}
.search:hover {
  cursor: pointer;
}
.search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.search-input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #54b3d6;
  color: white;
  text-shadow: 0 0 10px #54b3d6;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #54b3d6, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.search-input:hover {
  cursor: pointer;
}
.search-input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-input:focus ~ .search {
  right: -250px;
  background: #56d8e4;
  z-index: 6;
}
.search-input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.search-input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
} 